<!DOCTYPE html>
 
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href='{% static "main/css/styles.css" %}'> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='{% static "main/javascript/script.js" %}'></script>  
   <title>Black and Pink Re-Entry</title>
   <link rel="icon" type="image/png" href='{% static "main/favicon/BP-favicon-16x16.png" %}'>
</head>
<body>
        <div class="row headerRow">
            <img src='{% static "main/images/bp_logo.jpeg" %}' id = "header-image" class="image-fluid float-left" alt="">
            <div class="page-header">
                <h1>Black And Pink <span>Re-Entry<span>  <small color="pink">{% block title %} Chicago Home{% endblock %}</small></h1>
            </div>
            <div id = "loggedIn">
                {% if user.is_authenticated %}
                <div id='logOutButton' style="position: absolute; right: 0; top: 0;">
                    <a href="{% url 'main:logout' %}"><button class="button headButton"> Logout </button></a>    
                    <p align='right'>Logged in as {{ user.get_username }}</p>
                </div>
                {% else %}
                <div id='logInButton' style="position: absolute; right: 0; top: 0;">
                    <button class="button headButton"> Login&nbsp </button>
                </div>
                <div id='showLoginForm' style="position: absolute; right: 0; top: 0;"> 
                        <form id = "login-form" method="post" class="navbar-form navbar-right" action="{% url 'main:login' %}" >
                        {% csrf_token %}
                        <button type="submit" align = "right" class="button headButton">Login&nbsp</button>
                        <div><td><input type="text" name="username" style="width:85px; align: right;"></div>
                        <div><td><input type="password" name="password" style="width:85px; align: right;"></td></div>
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'resources:home' %}">Home</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">About</a></li>
                            </ul>
                            </li>
                        <li class="active"><a href="{% url 'housing:home' %}">Housing Restrictions<span class="sr-only">(current)</span></a></li>
                      <li class="dropdown">
                        <a href="{% url 'release:home' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Release<span class="caret"></span></a>
                      </li>
                      {% if user.is_authenticated %}
                      <li><a href="#">Members</a></li>
                      {% endif %}
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>



        </div>
        
     <div id="content">
        {% block content %}Welcome Home. This is Black and Pink Chicago's Re-Entry Support and Resource Page{% endblock %}
    </div>
    </body>
</html>
