backports.functools-lru-cache==1.5
bcrypt==3.1.4
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bs4==0.0.1
canvas==0.2
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
Django==1.11.7
djangorestframework==3.7.7
fpdf==1.7
future==0.16.0
geopy==1.11.0
googlemaps==2.5.1
idna==2.6
image==1.5.24
itypes==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.13.3
oauthlib==2.0.2
olefile==0.44
panda==0.3.1
pandas==0.22.0
Pillow==4.3.0
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
python-google-places==1.4.1
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sodapy==1.4.6
subprocess32==3.5.1
tweepy==3.5.0
uritemplate==3.0.0
urllib3==1.22
