appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bs4==0.0.1
canvas==0.2
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.3.2
Django==1.11.20
djangorestframework==3.7.7
enum34==1.1.6
fpdf==1.7
future==0.16.0
futures==3.2.0
geopy==1.11.0
googlemaps==2.5.1
idna==2.6
image==1.5.24
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
itypes==1.1.0
Jinja2==2.10
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.13.3
oauthlib==2.0.2
olefile==0.44
panda==0.3.1
pandas==0.22.0
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-google-places==1.4.1
python-memcached==1.59
pytz==2017.3
pyzmq==17.1.2
reportlab==3.4.0
requests==2.21.0
requests-oauthlib==0.8.0
scandir==1.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sodapy==1.4.6
subprocess32==3.5.1
tornado==5.1.1
traitlets==4.3.2
tweepy==3.5.0
uritemplate==3.0.0
wcwidth==0.1.7
