<a href="{%url 'release:facility_home' facility_id=facility.id%}">
<div class="facilityContainer">
    <div class="title">
        <div class="facilityTitleHeader"></div>
    </div>

    <div class="facility">
        <div class="facilityLocBox">
            <div class="facilityLoc">
                    <p>{{facility.street_address}}</p>
                    <p>{{facility.city}}</p>
                    <p>{{facility.state}}</p>
                    <p>{{facility.zip_code}}</p>
            </div>
        </div>
    </div>
</a> 
    
</div>