{% extends 'main/header.html' %}

{% block title %}Inside Members{% endblock %}

{% block content %}
<h3>Add Members</h3>
<p>Checks if DOC ID already stored. If not, it adds it. </p>

<form action="{% url 'members:add_members' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="IDsToAdd"></textarea>
    </div> 
    <input class = "headButton" type="submit" value="Submit">
</form>


<h3>Member Listings</h3>
<p>...to know where members are and when they are getting out.</p>
<a href="{% url 'members:show' %}">Show All By Name</a><br>  
<a href="{% url 'members:show_by_updated' %}">Show All By Checked Date</a>

<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th style="width: 4%">ID</th>
            <th style="width: 16%">Name</th>
            <th>Location</th>
            <th>Mailing Address</th>
            <th>Projected Parole/Discharge Date</th>
            <th>Incarcerated Date</th>
            <th>Birthdate</th>
            <th>Registry?MSR?</th>
            <th>Updated</th>
            
              
          </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td style="width: 4%">{{member.gov_id}}</td>
                <td style="width: 16%">{{member.last_name|default_if_none:""}}, {{member.first_name|default_if_none:""}}</td>
                <td>{{member.facility.name}}</td>
                <td>{{member.first_name|default_if_none:""}} {{member.last_name|default_if_none:""}} {{member.gov_id}}<br>
                    {{member.facility.mailing_address.0}}<br>
                {{member.facility.mailing_address.1}}<br>
                {{member.facility.mailing_address.2}}<br></td>
                <td>{% if member.life %} LIFE {% else %} {{member.parole_date|date:'dMY'|default_if_none:""}}<br>{{member.discharge_date|date:'dMY'|default_if_none:""}}</td>{%endif%}
                <td>{{member.incarcerated_date|date:'dMY'|default_if_none:""}}</td>
                <td>{{member.birth_date|date:'dMY'|default_if_none:""}}</td>
                <td>{% if member.so %}<span>On Reg</span><br>{% endif %}{% if member.msr %}MSR{% endif %}</td>
                <td>{{member.updated_at|date:'dMY'}}</td>
            </tr>
            {% endfor %}
        </tbody>
</div>

    
{% endblock %}