{% extends 'main/header.html' %}


{% block title %}Restrictive Housing Search{% endblock %}

{% block content %}
<h3>Restrictive Housing Address Lookup</h3>
<p><span>Restrictive housing makes it difficult for formerly incarcerated folks to find parole locations.</span> Please enter an address to see if it's prohibited(under 500ft to school or park).</p>

<form action="{% url 'housing:search' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="address_string"></textarea>
      </div> 
    
    <input class = "headButton" type="submit" value="Submit">
</form>




    
{% endblock %}
