<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'main/javascript/script.js' %}"></script>  
   <title>Black and Pink Re-Entry</title>
   <link rel="icon" type="image/png" href='{% static "main/favicon/BP-favicon-16x16.png" %}'>
</head>
<body>
        <div class="row headerRow">
            <img id='headerImage' src='{% static "main/images/bp_logo.jpeg" %}'> 
            <div class="inlineBlock page-header">
                <h1>Black And Pink Re-Entry<small>{% block title %}{% endblock %}</small></h1>
              </div>
            
            <!-- <div class="inlineBlock headerTextTop">Black and Pink Re-Entry<br>
            </div> -->
            <div class = "loggedIn">
                {% if user.is_authenticated %}
                <p align='right'>Logged in as {{ user.get_username }}</p>
                <a href="{% url 'logout' %}"><button class="button headButton"> Logout </button></a>    
                {% else %}
                <!-- <a href="{% url 'login' %}"><button class="button headButton"> Login </button></a> -->
                <form method="post" class="navbar-form navbar-right" action="{% url 'login' %}" >
                        {% csrf_token %}
                        <button type="submit" class="button headButton">Login</button>
                        <div><td>{{ form.username }}</td></div>
                        <div><td>{{ form.password }}</td></div>
                              
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                </form>
                {% endif %}
            </div>
        </div>
     <div id="content">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
