
{% load static %} 
{% include 'main/header.html' %}

<div class="table-responsive">
        <table class="table table-bordered bptable table-highlight bptable">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                    This is one
                    </a>
                </div>
                 <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                    This is one
                    </a>
                </div>
                 <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                    This is one
                    </a>
                </div>
                 <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                    This is one
                    </a>
                </div>
                
            </div>





            <thead color="white">
                <th>Type</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                </thead>
            <tbody>
            {% for resource in all_resources %}
                <tr class='clickable-row' data-href="{% url 'resources:org_home' org_id=resource.id %}">
                    <td>{{resource.org_type__name}}</td>
                    <td>{{resource.name}}</td>
                    <td>{{resource.state}}</td>
                    <td>{{resource.city}} {{resource.id}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>