{% extends 'main/header.html' %}


{% block title %} {{resourcetype}} Resources{% endblock %}

{% block content %}

<h3>{{resourcetype}} Resources Home</h3>
<p><span style = "display:inline_block">This is our latest {{resourcetype}} Resource list.</span> Type in the box for a specific organization or select a resource type from the dropdown. If there is an area we are missing, or you know of resources we should add please send us an email <a>here</a></span>

<div class="row">
    <div class="col-md-5 resource-search-bar">
    <form class="form-inline" method="post" action="{% url 'resources:search_types' %}" >
            {% csrf_token %}
        <label class="mr-sm-2" for="inlineFormCustomSelect">Resource Type</label>
        <select name="type" class="resource-type mb-2 mr-sm-2 mb-sm-0">
            <option value="*">All Resources</option>
            {% for type in all_resource_types %}
                {% if type == resourcetype %} 
                <option selected value="{{type.id}}">{{type.name}} -- {{type.description}}</option>
                {% else %}
                <option value="{{type.id}}">{{type.name}} -- {{type.description}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>








    <div class="col-md-4 resource-list-form">
        <h4 id="create-resource-list-title">Create Resource List <small>Click To Select Which Resources You Need</small></h4>
        <div id = 'create-list'>
                <form class="form-inline" method="post" action="{% url 'resources:search_types' %}" >
                    {% csrf_token %}
                    {% for type in all_resource_types %}
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="resource_types"><input type="checkbox" multiple="multiple" name="types_{{type.id}}" value="True" class="form-check form-check-inline"/>
                    </label>
                    {{type}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Make Resource List</button>
                </form>
        </div>
    </div>
    <div class="col-md-3 resource-list-form">
        <h4 id="print-pdf-resource-list-title" data-href="{% url 'resources:pdf_print_resources' %}">Print Resource List <br><small>Click here to download PDF</small></h4>
        <h4 id="print-csv-resource-list-title" data-href="{% url 'resources:csv_print_resources' %}"> <small>Click here for CSV/excel</small></h4>
    </div>
</div>


<div class='row'><br><br></div>

{% regroup resources by main_type as resource_type_list %}
    
{% for resource_types in resource_type_list %}
<h5 class = "resource-type-title"> {{resource_types.grouper}}</h5>  
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class='d-flex'>
                <th class="col-2">Organization</th>
                <th class="col-1">City</th>
                <th class="col-2">Address</th>
                <th class="col-2">Phone Number</th>
                <th class="col-2">Org Contact</th>
                <th class="col-2">Email</th>
                <th class="col-4">Website</th>
                <th class="col-4">Description</th>
                <th class="col-4">Restrictions/Considerations</th>
                <th class="col-2">Black and Pink Contact</th>
                <th class="col-2">Supported?</th>
                <th class="col-2">Added</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resource_types.list %}
            <tr class='d-flex clickable-row' data-href="{% url 'resources:view_resource' resource_id=resource.id %}"> 
                <td class="col-2">{{resource.name|default_if_none:""}}</td>
                <td class="col-1">{{resource.city|default_if_none:""}} </td>
                <td class="col-2">{{resource.address|default_if_none:""}}</td>
                <td class="col-2"><a href="tel:{{resource.phone}}">{{resource.phone|default_if_none:""}}</a></td>
                <td class="col-2">{{resource.contact_name|default_if_none:""}} </td>
                <td class="col-2"><a href="mailto:{{resource.email}}">{{resource.email|default_if_none:""}}</a></td>
                <td class="col-4"><a href="{{resource.website}}">{{resource.website|default_if_none:""}}</a></td>
                <td class="col-4">{{resource.notes|default_if_none:""}}</td>
                <td class="col-4">{{resource.restrictions|default_if_none:""}}</td>
                <td class="col-2">{{resource.bp_contact|default_if_none:""}}</td>
                <td class="col-2">{{resource.bp_supported_note|default_if_none:""}} </td>
                <td class="col-2">{{resource.created_at|default_if_none:""}} </td>    
            </tr>    
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}


html ='<table border="0" align="center" width="50%"><thead><tr>'
        html +='<th width="30%">Header 1</th>'
        html +='<th width="70%">header 2</th>'
        html +='</tr></thead><tbody>'
        html +='<tr><td>cell 1</td>'
        html +='<td>cell 2</td></tr>'
        html +='<tr><td>cell 2</td>'
        html +='<td>cell 3</td></tr>'
        html +='</tbody></table>'
        return html