{% extends 'main/base.html' %}

{% block title %}{{org.name}} Home {% endblock %}

{% block content %}

Name : {{org.name}} <br>
Address : {{org.address}} <br>
City : {{org.city}} <br>
State : {{org.state}} <br>
Zip : {{org.zip_code}} <br>
County : {{org.county}} <br>
Phone Number : {{org.phone}} <br>
Contact Name : {{org.contact_name}} <br>
Email : {{org.email}} <br>
Website : {{org.website}} <br>
Notes : {{org.notes}} <br>
Restrictions : {{org.restrictions}} <br>
Black and Pink Contact : {{org.bp_contact}} <br>
Black and Pink Support Note : {{org.bp_supported_note}} <br>


<div class="newOrgForm">
    <form action="{%url 'resources:add_org'%}" method="post">
    {% csrf_token %}
        {{ form.as_p}}
    <input class="headButton" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}