<a href="{%url 'resources:org_home' org_id=resource.id%}">
<div class="resourceContainer">
    <div class="title">
        <div class="resourceTitleHeader">{{resource.name}}</div>
    </div>

    <div class="resource">
        <div class="resourceLocBox">
            <div class="resourceLoc">
                    <p>{% if resource.county%}
                        {{resource.county}} County
                        {% elif resource.city%}
                        {{resource.city}}
                        {%endif%}  </p>
                    <p>{{resource.state}}</p>
            </div>
        </div>
        <div class="resourceDetails">
            {% if resource.notes %}
            <p>{{resource.notes}}</p>
            {% endif %}
            
            {% if resource.address %}
            <p>{{resource.address}}</p>
            {% endif %}

            {% if resource.phone %}
            <p>{{resource.phone}}</p>
            {% endif %}


            {% if resource.phone %}
            <p>{{resource.email}}</p>
            {% endif %}


            {% if resource.phone %}
            <p>{{resource.website}}</p>
            {% endif %}
        </div>
    </div>
</a> 
    
</div>