/* *{
    margin: 0px;
    padding: 0px;
    background-color:pink;
    color:#aaaaaa;
    border-color: black;
    border-width:0px
    
} */

#bp-body {
    margin: 0px;
    padding: 0px;
    background-color:black;
    color:#aaaaaa;
    border-color: black;
    border-width:0px;
}

#bp-img {
    max-width:15%; 
    height:auto;

}
#bp-title {
    max-height:100%;
    font-size:3vw;
    color:#aaaaaa;
    display:inline-block;
    position: relative;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    
}

button.navbar-toggler{
    color: black;
    background-color: #FA3FB4;
    align-content: right;
}

a {
    color:#aaaaaa !important;
}

#small-title-text{
    color:#FA3FB4;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #aaaaaa;
}
/* .bp-nav {
    color:#aaaaaa;
    background-color: black;
} */

#loggedIn{
    
    background-color: #000000;
    display: inline;
    color:#666666;
    /* float: right; */
    vertical-align: top;
    width: 100%;
    height: auto;
    padding:10px 10px;
}

span.address {
    color:#FA3FB4;
    display: inline-block;

}

.container-fluid {
    border-color: transparent;
}


#nav-container {
    border-color: transparent;
}

#logOutButton, #logInButton, #input-fields, #showLoginForm, #login-form{
    float: right;
    clear: right;
    max-width: 100%;
    font-size:2vw;
    display: block;
}



.headButton{
    background-color: #aaaaaa; 
    border: none;
    color: #FA3FB4 !important;
    padding: 4px 4px;
    /* text-align: center; */
    font-size: 2vw;
    margin: 10px 10px;
    cursor: pointer;
    float: right;
    clear: both;
    align-content: right;
    /* float: right; */
}

.card-block{
    color: #495057;
    background-color:white;
}

.col-xs-3 img {
    flex-shrink: 0;
    max-width: 100%;
    /* min-height: 100%; */
}

.bptable{
    color:#000000;
    /* background-color: #555555; */
}

.bptable>tbody>tr:nth-of-type(odd){background-color:#FA3FB4}

.table-hover>tbody>tr:hover{background-color:#f9f9f9}

.newResourceForm{
    background-color: #000000;
    color:#FA3FB4;
    align-content: center;
    text-align: center
}

.newResourceForm>input{
    background-color: #000000;
    color:#FA3FB4;
    align-content: center;
    text-align: center
    display: inline;
}

label
{
    border: none;
    color: #FA3FB4;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 24px;
    margin: 2px 1px;
    cursor: pointer;
    display: block;
}

li>label {
    border: none;
    color: #FA3FB4;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 24px;
    margin: 2px 1px;
    cursor: pointer;
    display: inline-block;

    padding: .375rem .75rem;
    font-size: .4rem;
    background-color: #000;
    
}


ul#id_resource_types {
    list-style-type:none;
    
    margin-top: 30px;
}

ul#id_resource_types>li {
    display: inline-block;
}





select,textarea { 
    display: block; 
    margin: 0 auto; 
    width: 30%;
    font-size: 24px;
    background-color: #FFFFFF; 
    border: none;
    color: #FA3FB4;
    text-align: center;

}

#inlineCheckbox{
    color: white;
    font-size: 0px;
}

#inlineCheckbox ul li { display: inline;}


.resourceContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}

.modalContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}
.resource{
    position: relative;
    height: 120px;
    box-sizing: border-box;
    border-top: 1px solid #e7eaec;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.resourceTitleHeader{
    display: inline;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #085F99;
    font-weight: bold;
    font-size: 17px;
    overflow:hidden;
}
.resourceLocBox{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    display: inline;
}
.resourceLoc{
    width: 95px;
    height: 50px;
    border-right: 1px solid #CFD4D9;
    padding-left: 25px;
}

.resourceDetails{
    display: inline;
    margin-left: 5px;
    padding-right: 10px;
    vertical-align: top;
    padding-top: 25px;
    overflow:hidden;
}

/* .eventTimeLocation{
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    color: #828282;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow:hidden;
} */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.facilityContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}
.facility{
    position: relative;
    height: 120px;
    box-sizing: border-box;
    border-top: 1px solid #e7eaec;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.facilityTitleHeader{
    display: inline;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #085F99;
    font-weight: bold;
    font-size: 17px;
    overflow:hidden;
}
.facilityLocBox{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    display: inline;
}
.facilityLoc{
    width: 95px;
    height: 50px;
    border-right: 1px solid #CFD4D9;
    padding-left: 25px;
}


#housing{
    display: inline;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #aaaaaa;
    font-weight: bold;
    overflow:hidden;
}

.housingButton{
    background-color: #aaaaaa; 
    border: none;
    color: #FA3FB4;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 24px;
    margin: 8px 4px;
    cursor: pointer;
    /* position: absolute; 
    right: 0; */
}

#housingSearchAgain{
    width: 300px;
    margin-left: auto;
    margin-right:auto;
    color: #aaaaaa;
    padding-top: 60px;
    font-weight: bold;
    overflow:hidden;
}

#housingResultsHeader{
    display: inline;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #aaaaaa;
    font-weight: bold;
    overflow:hidden;
}



#address-box{
    width: 200px;
    padding-top: 15px;
    display: inline;
    color:#FA3FB4;
    background-color: #aaaaaa;

}

h3#resource-title, h6.resource-side, h3#resource-edit-title, h4#resource-list-title {
    color:#FA3FB4;
}

h4#resource-list-title > small {
    color: #aaaaaa;
}

.resource-search-bar, .resource-list-form {
    padding: 1.375rem 1.75rem 1.375rem 1.75rem;
    margin-bottom: 30px;
}
.card{
    color : #aaaaaa;
} 

span.table-address {
    display: inline-block;
}

.resource-type {
    display: inline-block;
    width: 30%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}


