*{
    margin: 0px;
    padding: 0px;
    background-color:black;
    
}

#headerImage{ 
    display: inline-block;
    background-color: #000000;
    width: auto;
    padding: 20px;
    vertical-align: top    
    }
.loggedIn{
    background-color: #000000;
    display: inline-block;
    color:#FA3FB4;
    float: right;
    vertical-align: top;
    padding-right : 3em;

}
.headerTextTop{
    font-size: 50px ;
    width:50%;
    color:#FA3FB4;
    background-color: #000000;
    padding-top: 1.2em;
    text-align: center;
}

.headerRow{
      background-color: #000000;
      vertical-align: center
}


.inlineBlock{
    display: inline-block;
    background-color: #000000;
}

.headButton{
    background-color: #777777; 
    border: none;
    color: #FA3FB4;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 1px;
    cursor: pointer;
    float: right;
    /* position: absolute; 
    right: 0; */
}

.bptable{
    color:#000000;
    /* background-color: #555555; */
}

.bptable>tbody>tr:nth-of-type(odd){background-color:#FA3FB4}

.table-hover>tbody>tr:hover{background-color:#f9f9f9}

.newOrgForm{
    background-color: #000000;
    color:#FA3FB4;
    align-content: center;
    text-align: center
}

.newOrgForm>input{
    background-color: #000000;
    color:#FA3FB4;
    align-content: center;
    text-align: center
    display: inline-block;
}

label
{
    border: none;
    color: #FA3FB4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 1px;
    cursor: pointer;
    display: block;
}



/* input[type="text"] {
    width: 30%;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    background-color: #FFFFFF; 
    border: none;
    color: #FA3FB4;
    text-align: center;
    float: center;
} 
*/
select,textarea { 
    display: block; 
    margin: 0 auto; 
    width: 30%;
    font-size: 24px;
    background-color: #FFFFFF; 
    border: none;
    color: #FA3FB4;
    text-align: center;

}

#inlineCheckbox{
    color: white;
    font-size: 0px;
}

#inlineCheckbox ul li { display: inline-block;}


.resourceContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}

.modalContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}
.resource{
    position: relative;
    height: 120px;
    box-sizing: border-box;
    border-top: 1px solid #e7eaec;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.resourceTitleHeader{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #085F99;
    font-weight: bold;
    font-size: 17px;
    overflow:hidden;
}
.resourceLocBox{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    display: inline-block;
}
.resourceLoc{
    width: 95px;
    height: 50px;
    border-right: 1px solid #CFD4D9;
    padding-left: 25px;
}

.resourceDetails{
    display: inline-block;
    margin-left: 5px;
    padding-right: 10px;
    vertical-align: top;
    padding-top: 25px;
    overflow:hidden;
}

/* .eventTimeLocation{
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    color: #828282;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow:hidden;
} */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.facilityContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}
.facility{
    position: relative;
    height: 120px;
    box-sizing: border-box;
    border-top: 1px solid #e7eaec;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.facilityTitleHeader{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #085F99;
    font-weight: bold;
    font-size: 17px;
    overflow:hidden;
}
.facilityLocBox{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    display: inline-block;
}
.facilityLoc{
    width: 95px;
    height: 50px;
    border-right: 1px solid #CFD4D9;
    padding-left: 25px;
}






